
*{
    font-family: 'Open Sans', sans-serif;
}
#site_header{
    text-align: center;
    background-color: grey;
    border-bottom: 2px solid orange;
    padding: 30px;
} 
#profile_image{
    width: 200px;
    border-radius: 90px;
}
h2{
    color: orange;
}
h3{
    font-style: italic;
}
#site_footer{
    border-top: 2px solid orange;
}
.container{
    width: 1200px;
    margin: auto;
}