
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
#site_header{
    text-align: center;
    background-color: grey;
    border-bottom: 2px solid orange;
    padding: 30px;
} 
#profile_image{
    width: 200px;
    border-radius: 90px;
}
