*{
    margin: 0;
    padding: 0;

}
#site_header{
    height: 100px;
    background-color: blue;
}

#flex-container{
    display: flex;
}

#site_main{
    height: 600px;
    background-color: red;
    flex-grow: 3;

}
#site_aside{
    height: 600px;
    background-color: pink;
    flex-grow: 1;
}

#site_footer{
    height: 100px;
    background-color: green;
}

